* {
  box-sizing: border-box;
}
:root {
  --header-bg: #10375c;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Sora", sans-serif;
}

/* common */
.section-heading {
  font-weight: 600;
  font-size: 5rem;
  line-height: 1.2;
  letter-spacing: -0.02em;
  color: #10375c;
}

.section-desc {
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  margin-top: 18px;
  color: #575f66;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.btn {
  --height: 60px;
  display: inline-block;
  line-height: var(--height);
  color: #fff;
  background: #2e80ce;
  height: var(--height);
  min-width: 205px;
  text-align: center;
  padding: 0 20px;
  border-radius: 99px;
  font-weight: 400;
  font-size: 1.6rem;
}

.btn:hover {
  opacity: 0.9;
  cursor: pointer;
}

.container {
  width: 1170px;
  max-width: calc(100% - 48px);
  margin: 0 auto;
}

.logo {
  position: relative;
  display: inline-flex;
  font-size: 1rem;
}

/* header  */
.header {
  padding-top: 30px;
  min-height: 100vh;
  background: var(--header-bg);
}

.logo__circle::before,
.logo__circle::after {
  content: "";
  display: inline-block;
  border-radius: 50%;
}

.logo__circle::before {
  width: 3rem;
  height: 3rem;
  background-color: #2e80ce;
}

.logo__circle::after {
  position: absolute;
  top: 1.1em;
  left: 1.1em;
  width: 1.6rem;
  height: 1.6rem;
  background: #fff;
}

.logo__text {
  color: #fff;
  text-align: right;
  line-height: 1.6em;
}

.logo__brand {
  display: block;
  margin-left: 0.6rem;
  font-size: 1.8em;
  font-weight: 400;
}

.logo__brand--small {
  font-size: 1.2em;
  font-weight: 300;
}

/* navbar  */
.header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__list {
  display: flex;
}

.header-action__login,
.navbar__link {
  padding: 4px 21px;
  font-size: 1.6rem;
  font-weight: 300;
  color: #c9d2da;
}

.navbar__link:hover,
.navbar__link--active {
  color: #fff;
  text-shadow: 1px 0 0 currentColor;
}

.navbar__link--active::before {
  position: relative;
  top: -2px;
  left: -8px;
  display: inline-block;
  content: "";
  width: 6px;
  height: 6px;
  background: #fff;
  border-radius: 50%;
}

.header-action {
  display: flex;
  align-items: center;
}

.header-action__login {
  margin-right: 7px;
}

.header-action__btn {
  min-width: 104px;
  --height: 44px;
}

/* hero  */
.hero {
  display: flex;
  margin-top: 76px;
  align-items: center;
}

/* .hero__content */

.hero__content {
  flex-shrink: 0;
  height: 44%;
}

.hero__heading {
  font-weight: 600;
  font-size: 7rem;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #ffffff;
}

.hero__desc {
  margin-top: 22px;
  font-weight: 300;
  font-size: 1.8rem;
  line-height: 1.67;
  color: #c9d2da;
}

.hero__row {
  display: flex;
  align-items: center;
  margin-top: 38px;
}

.hero__phone {
  margin-left: 38px;
  font-size: 1.8rem;
  line-height: 1.67;
  text-align: center;
  color: #ffffff;
}

/* .hero__media */
.hero__images {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.hero__img {
  width: 330px;
  height: 540px;
  border-radius: 6px;
  object-fit: cover;
}

.hero__img:first-child {
  position: relative;
  margin-right: -6px;
}

.hero__img:last-child {
  width: 210px;
  height: 410px;
}

/* service  */
.service {
  padding: 170px 0;
}

.service__heading,
.service__desc {
  text-align: center;
}

.service__desc {
  width: 468px;
  margin-left: auto;
  margin-right: auto;
}

.service-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
}

.service__img {
  width: 570px;
  height: 570px;
  border-radius: 12px;
  object-fit: cover;
}

/* .service-item */

.service__list {
  margin-bottom: 55px;
}

.service-item {
  display: flex;
  background: #fff;
  padding: 22px;
  border-radius: 10px;
  max-width: 470px;
  transition: 0.25s;
}

.service-item:hover {
  position: relative;
  box-shadow: 0px 14px 28px rgba(0, 0, 0, 0.05);
}

.service-item:hover .service-item__icon {
  background-color: #2e80ce;
  color: #fff;
}

.service-item__icon {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  color: #10375c;
  border-radius: 50%;
  background: #eff6fd;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
  transition: 0.25s;
}

.service-item__body {
  margin-left: 19px;
}

.service-item__heading {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 1.27;
  color: #10375c;
}

.service-item__desc {
  margin-top: 8px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}

/* work  */
.work {
  padding: 100px 0;
  background-color: #f6fbff;
}

.work__desc {
  max-width: 468px;
}

.work__list {
  margin-top: 86px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 30px;
}

.work-items {
  padding: 44px;
  border: 16px solid #eaf6ff;
  border-radius: 4px;
  transition: 0.25s;
}

.work-items:hover {
  border-color: #2e80ce;
  transform: translateY(-16px);
}

.work-items__heading {
  margin-top: 20px;
  font-weight: 600;
  font-size: 2.6rem;
  line-height: 1.38;
  color: #10375c;
}

.work-items__desc {
  margin-top: 28px;
  margin-top: 28px;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.75;
  color: #575f66;
}

.work-items__link {
  display: block;
  max-width: 100px;
  margin-top: 18px;
  font-size: 1.6rem;
  color: #2e80ce;
}

/* feature  */
.feature {
  padding: 85px 0;
  margin-top: 85px;
}

.feature__inner {
  display: flex;
  align-items: center;
  gap: 130px;
}

.feature__media {
  width: 48%;
}

.feature__images {
  position: relative;
  padding: 0 58px 121px 0;
}

.feature__img {
  width: 512px;
  height: 370px;
  object-fit: cover;
  border-radius: 6px;
}

.feature__img:last-child {
  position: absolute;
  width: 332px;
  height: 370px;
  right: 0;
  bottom: 0;
}

.feature__cta {
  margin-top: 38px;
}
